[submodule "compiler"]
	path = compiler
	url = https://github.com/dougbtv/compiler
[submodule "syntaxhighlighter"]
	path = syntaxhighlighter
	url = https://github.com/dougbtv/cll-syntaxhighlighter-st2
